html{
    background-color: #333;
}
@font-face {
    font-family: 'Blonde';
    src: url(../css/fonts/Blonde.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Helvetica';
    src: url(../css/fonts/HelveticaNeuBold.ttf);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body {
    font-weight: normal;
    font-size: 40px;
    font-size: large;
}
label.logo {
    font-family: Blonde;
    font-size: 1.5vw;
    line-height: 100px;
    margin-left:  1vw;
    text-decoration: none;
    color: white;
}
label.logo a{
    transition: .5s;    
    color: white;
    
}
label.logo a:hover{
    color: #4dc1ff;
}
label.logo:active{
    transition: transform .5s ease;
    transform: scale(.8);
}

nav ul li {
    font-family: Helvetica;
    font-weight: 300;
      display: inline-block;
  line-height: 70px;
    
}
/* Style the links inside the navigation bar */
nav ul li a{
    list-style-type: none;
    display: inline;
    font-weight: bold;
    float: left;
    color: white;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-decoration:none;
    font-size: 25px;
    transition: .5s;
}
/* Change the color of links on hover */
nav ul li a:hover {
    color: #4dc1ff;
}
/* Add a color to the active/current link */ 
nav ul li a:active {
    /*background-color: #333;*/
    /*color: #4dc1ff;*/
    transition: transform .5s ease;
    transform: scale(.8);
}
nav {
    font-family: Helvetica;
    height: 100px;
    width: 100%;
    text-decoration: none;
}

nav ul {
    float: right;
    margin-right: 1vw;
}

.active {
    transition: .5 ease;
    color: #4dc1ff;
}

#FrankBGContainer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Images/Trammell-Frank-Ocean-New.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 2px;
    padding: 100px;
    width: auto;
    height: auto;
}

#FrankBGContainer2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),url(../AlbumsImages/oddf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 2px;
    padding: 100px;
    width: auto;
    height: auto;
    border-top: 1px solid #4dc1ff;
}
#FrankBGContainer3 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),url(../AlbumsImages/frankAfterNU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 2px;
    padding: 100px;
    width: auto;
    height: auto;
    border-top: 1px solid #4dc1ff;

}
#LinkStyle {
    line-height: 70px;
    /*color: #4dc1ff;*/
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 35px;
    padding-top: 35px;
    text-decoration: none;
}
#LinkStyle:hover{
    background-color: #333;/*#ddd*/
    /*color: white;*/
}
#FrankInfoHeading {
    color: white;
    font-family: Blonde;
    padding-top: 100px;
    word-spacing: 10px;
    line-height: 70px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 100px;
}

h2 {
    font-family: Helvetica;
    position: relative;
    text-align: center;
    font-size: 2.5em;
    color: white;
    /*padding-top: 30px;*/
    padding-bottom: 20px;
    
}
p a {
    font-family: Helvetica;
    position: relative;
    display:block;
    font-size: 2.5vw;
    color: white;
    text-decoration:none;
    transition: .5s;
}
p a:hover{
    color: #4dc1ff;
}

    #AboutFrankOcean{
        color: white;
    width: 100%;
    max-width:%;
    height:auto;
    align-content: center;
    text-align: center;
    border: 0px solid grey;
    margin: auto;
    font-family: sans-serif;
    padding: 30px;
    line-height: 1.5;
    }
p{
    font-family: Helvetica;
    font-size: 1.5vw;
    text-align: center;
    font-weight: 1;
    color: white;
    vertical-align: middle;
    line-height: 1.5;
    padding-bottom: 2.5%;
    /*padding-top: 5%;*/
    display: inline-block;
}

iframe {
    /*padding-top: 2%;
 margin: 0 auto;
    display:block;*/
}

#MapAndPAlign {
     display: inline-block;
    float: right;
}


#AboutFrankOceanBox2 {
    display: flex;
}

#SaveupHeading {
    color: white;
    font-family: Blonde;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.7em;
    word-spacing: 10px;
    line-height: 70px;
    text-align: center;
}

figcaption {
    font-family: Helvetica;
    font-size: 1vw;
    text-align: center;
    font-weight: 1;
    color: white;
}

#PhotoContainer {
    margin-left:auto;
    margin-right: auto;
    max-width: 40%;
}

#btnAlbums {
    filter: grayscale(100%);
    padding: 10px;
    clear: both;
    transition: .6s;
    overflow: hidden;
    color: white;
    max-width: 100%;    
    background-color:#ccc6c6;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow: hidden;
}
#btnAlbums:hover{
        background: #4dc1ff;
    filter: grayscale(0);
}

.youngFrank {
        height: 600px;
    vertical-align: middle;
}
footer{
    font-family: Helvetica;
    clear: both;
    border-top: 1px solid #4dc1ff;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #434543;    
    text-align: center;
}
footer ul{
    font-size: 20px;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer ul li{
    list-style-type: none;
    display: inline;
    padding: 15px;
    margin: 5px;
}
footer ul li a{
        color: white;
    text-decoration: none;
}
footer ul li a:hover{
    color: #4dc1ff;
}
small{
    text-align: center;
    color: white;
}

/*Fullscreen laptop 15inch 125% scale screen*/
@media (max-width: 1600px) {
    body { font-size: medium; }
    #FrankInfoHeading{
        padding-top: 10px;
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
    p{
        margin-left: 12.5%;
        margin-right:12.5%;
    }
}
/*Fullscreen mobile/Split view laptop*/
@media (max-width: 1200px) {
    iframe{
        width: 455px;
    }
    .youngFrank{
    display: block;
    margin: 0 auto;
        
    }
    p {
        margin-left: auto;
        margin-right: auto;
        font-size: 2vw;
    }
    #YearHead{
        font-size: 5vw;
    }
    label.logo{
        margin-left: 1vw;
    }
    nav ul li a{ font-size: 2vw}
#FrankInfoHeading {
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    }
#AboutFrankOceanBox2 {
    display: block;
}
}


#afterVid {
    padding-bottom: 0;
    padding-top: 5%;
}

#Spotify {
   display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#SpotifyContainer {
    /*margin-left: 12.5%;
    margin-right: 12.5%;*/
    text-align:center;
}

#YearHead {

}

#NostalgiaImages {
    width: 300px;
    /*height: 380px;*/
}

#PhotosContainer {
        text-align:center;
        padding-bottom: 2%;
}



.OldieVid {
    padding-left: 1%;
    padding-right: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.OldieAndOFPic {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



#FrankBGContainer4 {
            background: linear-gradient(rgba(0, 0, 0.5, 0.5), rgba(0, 0, 0.5, 1)),url(../AlbumsImages/ThankyousByFrank.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 2px;
    padding: 100px;
    width: auto;
    height: auto;
    border-top: 1px solid #4dc1ff;
}

#JumpHeading {
            margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.JumpTo {
        margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#



#FrankBGContainer5 {
        background: /*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),*/url(../AlbumsImages/oddf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 2px;
    padding: 100px;
    width: auto;
    height: auto;
    border-top: 1px solid #4dc1ff;
}



.FinesseVid {
        margin-left: auto;
    margin-right: auto;
    text-align: center;
}
