html{
    background-color: #333;
}
@font-face
{
    font-family: Helvetica;
    src: url("Styles/fonts/Helvetica%Neu%Bold.ttf");
    font-family: Blonde;
    src: url("Styles/fonts/Blonde.ttf");
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body {
    font-size: large;
}
label.logo{
color: white;
font-size: 30px;
line-height: 100px;
margin-left:  105px;
/*    padding-left: 30px;*/
font-family: Blonde;   
    text-decoration: none;
}

nav ul li {
      display: inline-block;
  line-height: 70px;
}
/* Style the links inside the navigation bar */
nav ul li a{
  list-style-type: none;
    display: inline;
  font-family: Helvetica;
    font-weight: bold;
  float: left;
  color: white;
  text-align: center;
  padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-decoration:none;
  font-size: 25px;
}
/* Change the color of links on hover */
nav ul li a:hover {
  background-color: #333;/*#ddd*/
  color: #4dc1ff;
}
/* Add a color to the active/current link */ 
nav ul li a:active {
    background-color: #333;
    color: #4dc1ff;
    transition: transform .5s ease;
    transform: scale(.8);
}
nav {
    height: 100px;
width: 100%;
    text-decoration: none;
}

nav ul {
    float: right;
margin-right: 85px;
}

.active {
  background-color: #4dc1ff;
  color: #333;
}

#FrankBGContainer {
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../EarlyLifeImages/36-361789_frank-ocean.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  margin-top: 2px;
  padding: 100px;
  width: auto;
  height: auto;
}
#LinkStyle {
    line-height: 100px;
    color: #4dc1ff;
text-decoration: none;
}


#FrankInfoHeading {
    color: white;
font-family: Blonde;
    padding-top: 200px;
    word-spacing: 10px;
    line-height: 70px;
text-align: center;
    margin-right: 50%;
    padding-bottom: 100px;
}

h2 {
    font-family: Helvetica;
    position: relative;
    text-align: center;
    font-size: 2.5em;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}
}

#PhotoContainer {
    float: left;
        padding-left: 30px;
    padding-top: 30px;
    max-width: 100%;
    height: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color:#b0b0b0;
    border: 1px solid white;
}

#btnEarlyLife {
    /*transition: transform .5s ease, filter .5s ease-in-out;*/
    filter: grayscale(100%);
        margin-top: 3%;
    margin-left: 10%;
    margin-right: 3%;
    margin-bottom: 50px;
    padding: 10px;
    clear: both;
    transition: .6s;
    overflow: hidden;
    color: white;;
    width: 100%;
    max-width: 30%;
    
    font-size: 18px;
    background-color:#ccc6c6;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow: hidden;
}
.Text{
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 1175px;
/*    left: 225px;*/
    background: rgba(0, 0, 0, 0.7);    
    color: white;
    padding: 10px 20px;
}

#btnEarlyLife:hover{
background: #4dc1ff;
    filter: grayscale(0);
}


#btnAlbums {
    filter: grayscale(100%);
        margin-top: 3%;
    margin-left: 12%;
    margin-right: 3%;
    margin-bottom: 50px;
    padding: 10px;
    clear: both;
    transition: .6s;
    overflow: hidden;
    color: white;;
    width: 100%;
    max-width: 30%;
    
    font-size: 18px;
    background-color:#ccc6c6;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow: hidden;
}

#btnAlbums:hover{
    background: #4dc1ff;
    filter: grayscale(0);
}

#btnFuture {
     filter: grayscale(100%);
        margin-top: 3%;
    margin-left: 10%;
    margin-right: 3%;
    margin-bottom: 50px;
    padding: 10px;
    clear: both;
    transition: .6s;
    overflow: hidden;
    color: white;;
    width: 100%;
    max-width: 30%;
    
    font-size: 18px;
    background-color:#ccc6c6;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow: hidden;  
}

#btnFuture:hover {
    background: #4dc1ff;
    filter: grayscale(0);
}

#btnGallery {
    filter: grayscale(100%);
        margin-top: 3%;
    margin-left: 12%;
    margin-right: 3%;
    margin-bottom: 50px;
    padding: 10px;
    clear: both;
    transition: .6s;
    overflow: hidden;
    color: white;;
    width: 100%;
    max-width: 30%;
    
    font-size: 18px;
    background-color:#ccc6c6;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow: hidden;
}
#btnGallery:hover {
   background: #4dc1ff;
    filter: grayscale(0); 
}

h1{
    font-size: 2.5em;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 17px;
}
p{
    font-family: Helvetica;
    font-size: 1.5em;
    text-align: center;
    font-weight: 100;
    color: white;
    vertical-align: baseline;
    line-height: 1.5;
    margin-right: 50%;
}

.column {
    float: left;
    position: relative;
}

footer{
    font-family: Helvetica;
    clear: both;
    border-top: 1px solid #4dc1ff;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #434543;    
    text-align: center;
}
footer ul{
    font-size: 20px;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer ul li{
    list-style-type: none;
    display: inline;
    padding: 15px;
    margin: 5px;
}
footer ul li a{
        color: white;
    text-decoration: none;
}
small{
    text-align: center;
    color: white;
}

/*Fullscreen laptop 15inch 125% scale screen*/
@media (max-width: 1600px) {
    body { font-size: large; }
}
/*Fullscreen mobile/Split view laptop*/
@media (max-width: 1000px) {
    #AboutFrankOcean{
        color: white;
    width: 100%;
    max-width:%;
    height:auto;
    align-content: center;
    text-align: center;
    border: 0px solid grey;
    margin: auto;
    font-family: sans-serif;
    padding: 30px;
    line-height: 1.5;
    }
}