html{
    background-color: #333;
}
@font-face {
    font-family: 'Blonde';
    src: url(../css/fonts/Blonde.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Helvetica';
    src: url(../css/fonts/HelveticaNeuBold.ttf);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    font-weight: normal;
    font-size: 40px;
    font-size: large;
}
label.logo {
    font-family: Blonde;
    font-size: 1.5vw;
    line-height: 100px;
    margin-left:  1vw;
    text-decoration: none;
    color: white;
}
label.logo a{
    transition: .5s;    
    color: white;
    
}
label.logo a:hover{
    color: #4dc1ff;
}
label.logo:active{
    transition: transform .5s ease;
    transform: scale(.8);
}

nav ul li {
    font-family: Helvetica;
    font-weight: 300;
      display: inline-block;
  line-height: 70px;
    
}
/* Style the links inside the navigation bar */
nav ul li a{
    list-style-type: none;
    display: inline;
    font-weight: bold;
    float: left;
    color: white;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-decoration:none;
    font-size: 25px;
    transition: .5s;
}
/* Change the color of links on hover */
nav ul li a:hover {
    color: #4dc1ff;
}
/* Add a color to the active/current link */ 
nav ul li a:active {
    /*background-color: #333;*/
    /*color: #4dc1ff;*/
    transition: transform .5s ease;
    transform: scale(.8);
}
nav {
    font-family: Helvetica;
    height: 100px;
    width: 100%;
    text-decoration: none;
}

nav ul {
    float: right;
    margin-right: 1vw;
}

.active {
    transition: .5s;
    color: #4dc1ff;
}

#LinkStyle {
    line-height: 70px;
    /*color: #4dc1ff;*/
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 35px;
    padding-top: 35px;
    text-decoration: none;
}
#LinkStyle:hover{
    background-color: #333;/*#ddd*/
    /*color: white;*/
}
#FrankInfoHeading {
    color: white;
    font-family: Blonde;
    padding-top: 100px;
    word-spacing: 10px;
    line-height: 70px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 100px;
}

h2 {
    font-family: Helvetica;
    position: relative;
    text-align: center;
    font-size: 2.5em;
    color: white;
    /*padding-top: 30px;*/
    padding-bottom: 20px;
    
}

p {
    font-family: Helvetica;
    font-size: 1.5vw;
    text-align: center;
    font-weight: 100;
    color: white;
    vertical-align: baseline;
    line-height: 1.5;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 75px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 4px 5px;
}
/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
footer{
    font-family: Helvetica;
    clear: both;
    border-top: 1px solid #4dc1ff;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #434543;    
    text-align: center;
}
footer ul{
    font-size: 20px;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer ul li{
    list-style-type: none;
    display: inline;
    padding: 15px;
    margin: 5px;
}
footer ul li a{
        color: white;
    text-decoration: none;
}
footer ul li a:hover{
    color: #4dc1ff;
}
small{
    text-align: center;
    color: white;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/*Fullscreen laptop 15inch 125% scale screen*/
@media (max-width: 1600px) {
    body { font-size: medium; }
    #FrankInfoHeading{
        padding-top: 10px;
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
    p{
        margin-left: 12.5%;
        margin-right:12.5%;
    }
}
/*Fullscreen mobile/Split view laptop*/
@media (max-width: 1200px) {
    p {
        margin-left: 12.5%;
        margin-right: 12.5%;
        font-size: 2vw;
    }
    label.logo{
        margin-left: 1vw;
    }
    nav ul li a{ font-size: 2vw}
}