html{
    background-color: #333;
}
@font-face
{
    font-family: Helvetica;
    src: url("Styles/fonts/Helvetica%Neu%Bold.ttf");
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body {
    font-size: x-large;
}
.logo{
    height: 29px; 
    padding: 14px 16px;
    margin-top: 0;
    float:left; 
}
nav ul li {
    display: inline;
    background-color: white;
  overflow: hidden;
    margin: 0px;    
}
/* Style the links inside the navigation bar */
nav ul li a{
  list-style-type: none;
    display: inline;
  font-family: Helvetica;
    font-weight: bold;
  float: left;
  color: white;
  text-align: center;
  padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-decoration:none;
  font-size: 25px;
}
/* Change the color of links on hover */
nav ul li a:hover {
  background-color: #333;/*#ddd*/
  color: #4dc1ff;
}
/* Add a color to the active/current link */ 
nav ul li a:active {
    background-color: #333;
    color: #4dc1ff;
    transition: transform .5s ease;
    transform: scale(.8);
}
.active {
  background-color: #4dc1ff;
  color: #333;
}

.FrankBGContainer {
    width: 100%;
    overflow: hidden;
}
article {
    margin: 20px;
}
h1{
    font-size: 2.5em;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 17px;
}
p{
    font-family: Helvetica;
    text-align:left;
    font-weight: 10;
    color: white;
    vertical-align: baseline;
    line-height: 27px;
}

.column {
    float: left;
    position: relative;
}

.ImageContainer{
    width: 700px;
    float: left;
  transition: transform .5s ease, filter .5s ease-in-out;
    filter: grayscale(100%);
  /*margin: 0px auto;*/
}
.ImageContainer:hover {
    -webkit-transform: scale(.5); /* Safari 3-8 */
    filter: grayscale(0);
    transform: scale(1.5);
    width: 700px;
    
}
.ImageBorder {
    border: 5px;
    border-style: solid;
    border-color: #4dc1ff;
    position: relative;
    height: 394px; /* [1.1] Set it as per your need */
    width: 650px;
    margin-left: 6em;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 140px;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */

}

.EarlyLifeText{    
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 175px;
    left: 225px;
    background: rgba(0, 0, 0, 0.7);    
    color: white;
    padding: 10px 20px;
}

.AlbumsText{
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 175px;
    left: 225px;
    background: rgba(0, 0, 0, 0.7);    
    color: white;
    padding: 10px 20px;
}

.FutureText {
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 175px;
    left: 260px;
    background: rgba(0, 0, 0, 0.7);    
    color: white;
    padding: 10px 20px;    
}

.GalleryText {
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 175px;
    left: 240px;
    background: rgba(0, 0, 0, 0.7);    
    color: white;
    padding: 10px 20px;    
}

footer{
    font-family: Helvetica;
    clear: both;
    border-top: 1px solid #4dc1ff;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #434543;    
    text-align: center;
}
footer ul{
    font-size: 20px;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer ul li{
    list-style-type: none;
    display: inline;
    padding: 15px;
    margin: 5px;
}
footer ul li a{
        color: white;
    text-decoration: none;
}
small{
    text-align: center;
    color: white;
}

/*Fullscreen laptop 15inch 125% scale screen*/
@media (max-width: 1600px) {
    body { font-size: large; }
    .ImageBorder {        
        margin-left: 6em;
        margin-right: 0em;
        width: 570px;
        height: 321px;
    }

    .EarlyLifeText {
        top: 130px;
        left: 200px;
    }
    .AlbumsText {
        top: 130px;
        left: 210px;
    }
    .FutureText {
        top: 130px;
        left: 220px;
    }
    .GalleryText {
        top: 130px;
        left: 220px;
    }
}

/*Fullscreen mobile/Split view laptop*/
@media (max-width: 1000px) {
    .FrankByAJ{
        float: left;
        width: 150%;
    }
    .FrankEL{
        float: left;
        width: 150%;
    }
    .ImageBorder {
        margin-left: 7.5em;
        width: 470px;
        height: 270px;
    }
    .ImageContainer{
    width: 470px;
    height: 270px;
    }
    .ImageContainer:hover {
    width: 470px;
    }
    .EarlyLifeText{    
    top: 2.5em;
    left: 3.5em;
    }
    .AlbumsText{    
    top: 2.5em;
    left: 3.5em;
    }
    .FutureText{    
    top: 2.5em;
    left: 4em;
    }
    .GalleryText{    
    top: 2.5em;
    left: 4em;
    }
}



.PWrapper {

}

.TextWrapper {
          max-width: 800px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
    
}



header {
    font-size: 3em;
    font-family: Helvetica;
    text-align:left;
    font-weight: bold;
    color: white;
    padding: 10px;
}
