html{
    background-color: #333;
}
@font-face
{
    font-family: Helvetica;
    src: url("Styles/fonts/Helvetica%Neu%Bold.ttf");
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
#logo{
    height: 29px; 
    padding: 14px 16px;
    margin-top: 0;
    float:left; 
}

/* Add a black background color to the top navigation */
nav ul li {
    display: inline;
    background-color: white;
  overflow: hidden;
    margin: 0px;
}

/* Style the links inside the navigation bar */
nav ul li a{
  list-style-type: none;
    display: inline;
  font-family: Helvetica;
    font-weight: bold;
  float: left;
  color: white;
  text-align: center;
  padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-decoration:none;
  font-size: 25px;
}

/* Change the color of links on hover */
nav ul li a:hover {
  background-color: #333;/*#ddd*/
  color: #4dc1ff;
}

/* Add a color to the active/current link */ 
nav ul li a:active {
  background-color: #4dc1ff;
  color: #333;
}

.active {
  background-color: #4dc1ff;
  color: #333;
}
.FrankBG{
    margin: 0;
    padding: 0px;
}

h1{
    font-size: 40px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 17px;
}
p{
    font-family: Helvetica;
    text-align: center;
    font-weight: 100;
    color: white;
}
aside{
    float: right;
    margin: 80px 60px;
    
}