html{
    background-color: #333;
}
@font-face
{
    font-family: Helvetica;
    src: url("Styles/fonts/Helvetica%Neu%Bold.ttf");
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
#logo{
    height: 29px; 
    padding: 14px 16px;
    margin-top: 0;
    float:left; 
}
nav{
    box-shadow: 10px 10px 5px white;
}
/* Add a black background color to the top navigation */
nav ul li {
    display: inline;
    background-color: white;
  overflow: hidden;
    margin: 0px;
    
}

/* Style the links inside the navigation bar */
nav ul li a{
  list-style-type: none;
    display: inline;
  font-family: Helvetica;
    font-weight: bold;
  float: left;
  color: white;
  text-align: center;
  padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-decoration:none;
  font-size: 25px;
}

/* Change the color of links on hover */
nav ul li a:hover {
  background-color: #333;/*#ddd*/
  color: #4dc1ff;
}

/* Add a color to the active/current link */ 
nav ul li a:active {
    background-color: #333;
    color: #4dc1ff;
    transition: transform .5s ease;
    
    
    transform: scale(.8);
}

.active {
  background-color: #4dc1ff;
  color: #333;
}
.FrankBG{
    margin: 0;
    padding: 0px;
}

h1{
    font-size: 40px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 17px;
}
p{
    font-family: Helvetica;
    text-align: center;
    font-weight: 100;
    color: white;
}

.column {
    float: left;
}
.EarlyLifeContainer {
    position: relative;
    height: 394px; /* [1.1] Set it as per your need */
    width: 700px;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */

}
.EarlyLifeImg{
    width: 700px;
    float: left;
  transition: transform .5s ease;
  margin: 1px auto;
}
.EarlyLifeImg:hover {
    -webkit-transform: scale(.5); /* Safari 3-8 */
    transform: scale(1.5);
    width: 700px;
    
}
.EarlyLifeText
{    
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 175px;
    left: 245px;
    background: rgba(0, 0, 0, 0.7);    
    color: white;
    padding: 10px 20px;
}

.AlbumContainer {
    position: relative;
    height: 394px; /* [1.1] Set it as per your need */
    width: 700px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
.AlbumsImg{
    position: absolute;
    width: 700px;
    /*float: right;*/
  transition: transform .5s ease;
  margin: 1px auto;
}
.AlbumsImg:hover{
    -webkit-transform: scale(.5); /* Safari 3-8 */
    transform: scale(1.5);
    width: 700px;
}
.AlbumsText{
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 175px;
    left: 270px;
    background: rgba(0, 0, 0, 0.7);    
    color: white;
    padding: 10px 20px;
}

.FutureContainer {
    position: relative;
    height: 394px; /* [1.1] Set it as per your need */
    width: 700px;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-right: 0px;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */

}

.FutureImg {
    position: absolute;
    width: 700px;
    /*float: right;*/
  transition: transform .5s ease;
  margin: 1px auto;

}
.FutureImg:hover{
    -webkit-transform: scale(.5); /* Safari 3-8 */
    transform: scale(1.5);
    width: 700px;    
}

.FutureText {
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 175px;
    left: 270px;
    background: rgba(0, 0, 0, 0.7);    
    color: white;
    padding: 10px 20px;    
}

.GalleryContainer {
    position: relative;
    height: 394px; /* [1.1] Set it as per your need */
    width: 700px;
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-right: 0px;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */    
}

.GalleryImg {
    position: absolute;
    width: 700px;
    /*float: right;*/
  transition: transform .5s ease;
  margin: 1px auto;    
}
.GalleryImg:hover{
    -webkit-transform: scale(.5); /* Safari 3-8 */
    transform: scale(1.5);
    width: 700px;    
}

.GalleryText {
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 175px;
    left: 270px;
    background: rgba(0, 0, 0, 0.7);    
    color: white;
    padding: 10px 20px;    
}

footer{
    font-family: Helvetica;
    clear: both;
    border: 1px solid #4dc1ff;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #434543;    
    text-align: center;
}
footer ul
{
    font-size: 20px;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer ul li{
    list-style-type: none;
    display: inline;
    padding: 15px;
    margin: 5px;
}
footer ul li a{
        color: white;
    text-decoration: none;
}
small
{
    text-align: center;
    color: white;
}

