@font-face
{
    font-family: Helvetica;
    src: url("Styles/fonts/Helvetica%Neu%Bold.ttf");
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
html, body {
margin: 0 auto;
}
body
{
    margin: 0;
    background-color: white;
    
}
#logo{
    height: 29px; 
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 0;
    

    float:left; 
    margin-right: 1px;
}
.FrankBG{
    margin: 0;
    padding: 0px;
}

h2{
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
}
p{
    font-family: Helvetica;
    text-align: center;
    font-weight: 100;
}

/* Add a black background color to the top navigation */
nav ul li {
    display: inline;
  background-color: white;
  overflow: hidden;
    margin: 0px;
}

/* Style the links inside the navigation bar */
nav ul li a{
  list-style-type: none;
    display: inline;
  font-family: Helvetica;
    font-weight: bold;
  float: left;
  color: #333;
  text-align: center;
  padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-decoration:none;
  font-size: 25px;
}

/* Change the color of links on hover */
nav ul li a:hover {
  background-color: #ddd;
  color: #4dc1ff;
}

/* Add a color to the active/current link */ 
nav ul li a:active {
  background-color: #4dc1ff;
  color: #333;
}

.active {
  background-color: #4dc1ff;
  color: #333;
}*/



